$colors: (
    primary: #614069,
    secondary: #FF6D40,
    third: #553738,
    number-color: #EA5A63

);
@font-face {
    font-family: Bosk;
    src: url('fonts/Bosk.ttf');
}
  
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$tablet: 768px;
$mobile: 425px;
$small-mobile: 320px;
$small-desktop: 1024px;
$large-desktop: 1440px;
$ultra-large-desktop: 2560px;

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
@mixin small-mobile {
    @media (max-width: #{$small-mobile}) {
        @content;
    }
}
@mixin small-desktop {
    @media only screen and (min-device-width: #{$tablet}) and (max-device-width: #{$small-desktop}){
        @content;
    }
}
@mixin large-desktop {
    @media (min-width: #{$large-desktop}) {
        @content;
    }
}
@mixin ultra-large-desktop {
    @media (min-width: #{$ultra-large-desktop}) {
        @content;
    }
}
@function color($color-name) {
    @return map-get($colors, $color-name)
}

body, html {
    background: #FFFFFF;
    height: 100%;
    margin: 0;
    padding: 0;
}
@include small-mobile {

    
    .eigth-block {
        display: none !important;

        height: 740px !important;
    }
    .eigth-block-mobile {
        display: block !important;
        .eigth-block-mobile-title {
            padding-top: 130px !important;
            font-size: 40px !important;
            line-height: 40px !important;
        }
        .eigth-block-mobile-text {
            font-size: 20px !important;
            line-height: 25px !important;
            padding-top: 60px !important;
        }
        .eigth-block-mobile-form {
            padding-top: 365px !important;
        }
    } 
}

@include mobile {
    .eigth-block {
        display: none !important;
        
        height: 740px !important;
    }
    .eigth-block-mobile {
        display: block !important;
        .eigth-block-mobile-title {
            padding-top: 130px !important;
            font-size: 40px !important;
            line-height: 40px !important;
        }
        .eigth-block-mobile-text {
            font-size: 20px !important;
            line-height: 25px !important;
            padding-top: 60px !important;
        }
        .eigth-block-mobile-form {
            padding-top: 365px !important;
        }
    }
}
@include tablet {
    .eigth-block {
        display: none !important;
    }
    .eigth-block-mobile {
        height: 2500px !important;

        display: block !important;
        .eigth-block-mobile-title {
            padding-top: 260px !important;
            font-size: 60px !important;
            line-height: 50px !important;
        }
        .eigth-block-mobile-text {
            font-size: 40px !important;
            line-height: 40px !important;
            padding-top: 100px !important;
        }
        .eigth-block-mobile-form {
            padding-top: 830px !important;
        }
    }
}
@include small-desktop {
   
    .eigth-block {
        display: block !important;
        background-position: center !important;
        background-repeat: no-repeat;
        .eigth-block-container {
            max-width: 950px !important; 
            .eight-block-first-column {
                .eigth-block-text {
                    .eigth-block-title {
                        font-size: 300% !important;
                        line-height: 40px !important;
                    }
                    .eigth-block-regular-text {
                        font-size: 100% !important;
                        line-height: 15px !important;
                    }
                }
            }
            .eight-block-second-column {
                .send-form { 
                    input {
                        height: 2rem !important;                     }
                    ::placeholder { /* Firefox, Chrome, Opera */ 
                       font-size: 20px !important;
                    }
                    .danger-text { 
                        font-size: 15px !important;
                        line-height: 25px !important;
                    }

                }
            }
        }
        .footer-block {
            padding-top: 240px !important;
    
            .footer-block-container {
                max-width: 2000px !important;
                .footer-title {
                    font-size: 35px !important;
                    line-height: 35px !important;
                }
                .regular-text-footer {
                    font-size: 17px !important;
                }
                .facebook-text {
                    font-size: 17px !important;
                    img {
                        // padding-left: 11px !important;
                        // padding-bottom: 80px !important;
                    }
                }
            }
        }
    }
    .eigth-block-mobile {
        display: none !important;
    }  
}
@include large-desktop {

    .eigth-block {
        display: block !important;
        height: 980px !important;
        .eigth-block-container {
            max-width: 1300px !important;
            .eight-block-second-column {
                justify-content: center !important;
                .send-form {
                    flex-basis: 60% !important;
                        input {
                            height: 2rem !important;
                    } 
                }
            }
        }
        .footer-block {
            padding-top: 290px !important;
            .footer-block-container {
                max-width: 1300px !important;
                .facebook-text {
                    img {
                    }
                }
            }  
        }
    }
    .eigth-block-mobile {
        display: none !important;
    }  
}
@include ultra-large-desktop {
    .eigth-block {
        display: block !important;
        height: 1620px !important;
        .eigth-block-container {
            max-width: 2000px !important; 
            .eight-block-first-column {
                .eigth-block-text {
                    .eigth-block-title {
                        font-size: 400% !important;
                        line-height: 70px !important;
                    }
                    .eigth-block-regular-text {
                        font-size: 161% !important;
                        line-height: 34px !important;
                    }
                }
            }
            .eight-block-second-column {
                .send-form { 
                    input {
                        height: 3rem !important;
                     }
                    ::placeholder { /* Firefox, Chrome, Opera */ 
                       font-size: 20px !important;
                    }
                    .danger-text { 
                        font-size: 15px !important;
                        line-height: 25px !important;
                    }

                }
            }
        }
        .footer-block {
    
            .footer-block-container {
                max-width: 2000px !important;
                .footer-title {
                    font-size: 50px !important;
                    line-height: 50px !important;
                }
                .regular-text-footer {
                    font-size: 30px !important;
                }
                .facebook-text {
                    font-size: 30px !important;
                    img {
                        // padding-left: 11px !important;
                        // padding-bottom: 80px !important;
                    }
                }
            }
        }

    }
    .eigth-block-mobile {
        display: none !important;
    }
}


.seventh-block-mobile {
    display: none;
    .seventh-block-mobile-title {
        display: flex;
        margin: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 58px;
        flex-basis: 100%;
        color: #614069;
        padding-top: 200px;
    }
    .seventh-block-mobile-items {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        flex-direction: column;
        .seventh-block-mobile-item {
                padding-top: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis: 100%;
                min-height: 275px;
                font-family: Bosk;
                font-size: 96px;
                line-height: 96px;
                color: color(number-color);
                .seventh-block-mobile-item-image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 300px;
                        height: 300px;
                    }
                }
                .seventh-block-mobile-item-text {
                    padding-top: 20px;
                    font-family: Roboto;
                    font-style: normal;
                    .regular-text-mobile {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 30px;
                        text-align: center;
                        color: #614069;
                    }
                    .price-text-mobile {
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 30px;
                        color: #D43E3A;
                    }
                }
                
        }
    }
    
}
// Block classes 


.block-title {
    font-size: 2.5vw;
    line-height: 2.7vw;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    color: #614069;
  }
  .fourth-block {
    background-image: url("../svg/bg-4.svg");
    padding: 5rem 0;
    background-size: cover;
  }
  
  .offers {
    margin-top: 10rem;
  }
  
  .offers .block-title {
    font-size: 36px;
    top: -4rem;
  }
  
  .food-container {
    margin-bottom: 4rem;
  }
  
  .food-container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .food-container .food-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #614069;
  }
  .food-container .food-name .price-highlight {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #d43e3a;
  }
  
  .food-container .food-name .food-hint {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #614069;
  }
  
  .instruction-block {
    padding: 3rem 1rem;
  }
  
  @media (max-width: 768px) and (min-width: 320px) {
    .block-title {
        font-size: 6.5vw !important;
        line-height: 6.7vw !important;
      }
  }
  @media only screen and (max-width: 768px) {
    .block-title {
      font-size: 24px;
    }
    .step-nr {
      position: absolute;
      bottom: 100px;
    }
    .step-text {
      margin-top: 1rem;
    }
    .instruction-block img {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }
  
  .reviews {
    margin-top: 5rem;
  }
  
.eigth-block {
    background-image: url("../svg/last-block-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .eigth-block-container {
        display: flex;
        flex-basis: 100%;
        justify-content: flex-start;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 5%;
        
        .eight-block-first-column {
            display: flex;
            flex-basis: 50%;
            justify-content: flex-start;
            .eigth-block-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            
                .eigth-block-title {
                    font-family: Inter;
                    font-style: normal;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-weight: 900;
                    font-size: 360%;
                    line-height: 58px;
                    /* or 133% */
                    color: #5E4863;
                }
                .eigth-block-regular-text {
                    padding-top: 7%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 130%;
                    line-height: 24px;
                    /* or 121% */
                    color: #614069;
                }
            }
        }
        .eight-block-second-column {
            display: flex;
            flex-basis: 50%;
            justify-content: flex-end;

            .send-form {
                background: #FFFFFF;
                box-shadow: 10px 20px 35px rgba(46, 48, 84, 0.25);
                border-radius: 30px;
                padding-left: 5%;
                padding-right: 5%;
                display: flex;
                flex-direction: column;
                flex-basis: 70%;
                height: fit-content;
                    .input-div {
                    padding-top: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .rectangle {
                        width: 100%;
                        height: 1px;
                        background: #C4C4C4;
                    }
                    
                    input {
                    background: #FFFFFF;
                    border: 1px solid #B2B2CE;
                    box-sizing: border-box;
                    align-items: center;
                    border-radius: 30px;
                    text-align: center;
                    
                    font-family: Helvetica Neue;
                    color: #8E8EB6;
                    height: 3rem;
                    }
                    ::placeholder { /* Firefox, Chrome, Opera */ 
                        color: #8E8EB6;
                        font-family: Helvetica Neue;

                    }
                    .danger-text {
                        font-family: Helvetica Neue;
                        font-size: 10px;
                        line-height: 14px;
                        /* identical to box height, or 140% */

                        text-align: center;

                        color: #D43E3A;
                    }
                    .eigth-block-action-button {
                        .button1 {
                            margin-bottom: 7%;
                            width: 100%;
                            background: color(secondary);
                            box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
                            border-radius: 41px;
                            height: 50px;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 18px;
                            /* identical to box height, or 120% */
                            border: none;
                            text-align: center;
                    
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        
    }
            .footer-block {
                flex-basis: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .footer-block-container {
                    display: flex;
                    flex-basis: 100%;
                    justify-content: space-evenly;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    .footer-title {
                        display: flex;
                        flex-direction: column;
                        flex-basis: 25%;
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 30px;
                        line-height: 30px;
                        /* or 100% */
                        color: #553738;
                    }
                    .regular-text-footer {
                        padding-top: 30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-basis: 25%;
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;
                        /* or 133% */
                        color: #553738;
                    }
                    .facebook-text {
                        padding-top: 30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-basis: 25%;
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;
                        img {
                            width: 40px;
                            height: 35px;
                        }
                        /* or 133% */
            
            
                        color: #553738;
                    }
                }
            }
}

.eigth-block-mobile {
    background-image: url("../svg/mobile-form-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
        .eigth-block-mobile-title {
        display: flex;
        justify-content: left;
        flex-direction: column;
        flex-basis: 100%;
        font-family: Inter;
        font-style: normal;
        padding-top: 260px;
        margin: 20px;
        font-weight: 900;
        font-size: 60px;
        line-height: 50px;
        color: #614069;
    }
    .eigth-block-mobile-text {
        display: flex;
        justify-content: left;
        flex-direction: column;
        flex-basis: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        margin: 20px;
        padding-top: 100px;
        color: #5E4863;
    }
    .eigth-block-mobile-form {
        display:  flex;
        flex-basis: 100%;
        justify-content: center;
        padding-top: 830px;
        .mobile-send-form {
           
                background: #FFFFFF;
                box-shadow: 10px 20px 35px rgba(46, 48, 84, 0.25);
                border-radius: 30px;
                padding-left: 5%;
                padding-right: 5%;
                display: flex;
                flex-direction: column;
                flex-basis: 70%;
                height: fit-content;
                    .input-div-mobile {
                    padding-top: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .rectangle {
                        width: 100%;
                        height: 1px;
                        background: #C4C4C4;
                    }
                    
                    input {
                    background: #FFFFFF;
                    border: 1px solid #B2B2CE;
                    box-sizing: border-box;
                    align-items: center;
                    border-radius: 30px;
                    text-align: center;
                    
                    font-family: Helvetica Neue;
                    color: #8E8EB6;
                    height: 3rem;
                    }
                    ::placeholder { /* Firefox, Chrome, Opera */ 
                        color: #8E8EB6;
                        font-family: Helvetica Neue;

                    }
                    .danger-text {
                        font-family: Helvetica Neue;
                        font-size: 10px;
                        line-height: 14px;
                        /* identical to box height, or 140% */

                        text-align: center;

                        color: #D43E3A;
                    }
                    .eigth-block-action-button-mobile {
                        .button2 {
                            margin-bottom: 7%;
                            width: 100%;
                            background: color(secondary);
                            box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
                            border-radius: 41px;
                            height: 50px;
                            font-family: Inter;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 18px;
                            /* identical to box height, or 120% */
                            border: none;
                            text-align: center;
                    
                            color: #FFFFFF;
                        
                    }
                }
            }
        }
    }
}