.button {
  transition: 0.3s all;
}
.button:hover {
  box-shadow: 3px 4px 10px rgba(100, 122, 157, 0.35) !important;
  background-color: rgb(224, 70, 23) !important;
}

hr.divider {
  background-color: #553738;
}

.block-title {
  font-size: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  color: #614069;
}
.fourth-block {
  background-image: url("../svg/bg-4.svg");
  padding: 5rem 0;
  background-size: cover;
}

.offers {
  margin-top: 10rem;
}

.offers .block-title {
  font-size: 36px;
  top: -4rem;
}

.food-container {
  margin-bottom: 4rem;
}

.food-container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.food-container .food-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #614069;
}
.food-container .food-name .price-highlight {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #d43e3a;
}

.food-container .food-name .food-hint {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #614069;
}

.instruction-block {
  padding: 3rem 1rem;
}

footer {
  margin-bottom: 2rem;
}
footer a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #553738;
}

.footer-desktop {
  margin: 1rem auto;
}

.footer-mobile {
  display: none;
}

.footer-mobile .footer-column-container {
  display: table;
  width: 100%;
}

.footer-mobile .footer-column-container .left-column {
  display: table-cell;
  width: 50%;
}

.footer-mobile .footer-column-container .right-column {
  display: table-cell;
  width: 50%;
  vertical-align: bottom;
  text-align: right;
}

.reviews {
  margin-top: 5rem;
}

footer .logo-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  color: #553738;
}

.eigth-block {
  background-image: url("../svg/last-block-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  background-position: center;
}

.eigth-block .container {
  padding-top: 10rem;
}

.eigth-block-mobile .container {
  padding-top: 2rem;
}

.eigth-block .container .form-container,
.eigth-block-mobile .form-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.eigth-block .container input:focus,
.eigth-block-mobile input:focus {
  outline: none;
  border: 1px solid #adedb3 !important;
  transition: 0.3s all;
}

.eigth-block-mobile .block-title {
  margin-top: 1rem;
}

.eigth-block-mobile .container .bonus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #5e4863;
  margin-top: 2rem;
}

.eigth-block-mobile .eigth-block-second-column {
  margin-top: 5rem;
}

.eigth-block .eigth-block-container {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-start;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.eigth-block .eigth-block-container .eigth-block-first-column {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}
.eigth-block .eigth-block-container .eigth-block-first-column .eigth-block-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.eigth-block .eigth-block-container .eigth-block-first-column .eigth-block-text .eigth-block-title {
  font-family: Inter;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 900;
  font-size: 360%;
  line-height: 58px;
  /* or 133% */
  color: #5e4863;
}
.eigth-block .eigth-block-container .eigth-block-first-column .eigth-block-text .eigth-block-regular-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 130%;
  line-height: 24px;
  /* or 121% */
  color: #614069;
}
.eigth-block .eigth-block-container .eigth-block-second-column {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}
.eigth-block .eigth-block-container .eigth-block-second-column .send-form,
.eigth-block-mobile .send-form {
  background: #ffffff;
  box-shadow: 10px 20px 35px rgba(46, 48, 84, 0.25);
  border-radius: 30px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  height: fit-content;
}
.eigth-block .eigth-block-container .eigth-block-second-column .send-form .input-div,
.eigth-block-mobile .input-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Inter;
  margin-bottom: 0.5rem;
}
.eigth-block .eigth-block-container .eigth-block-second-column .send-form .input-div .rectangle,
.eigth-block-mobile .input-div .rectangle {
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}
.eigth-block .eigth-block-container .eigth-block-second-column .send-form .input-div input,
.eigth-block-mobile .input-div input {
  background: #ffffff;
  border: 1px solid #b2b2ce;
  box-sizing: border-box;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  font-family: Helvetica Neue, Roboto;
  color: #8e8eb6;
  height: 3rem;
}
.eigth-block .eigth-block-container .eigth-block-second-column .send-form .input-div::placeholder,
.eigth-block-mobile .input-div::placeholder {
  /* Firefox, Chrome, Opera */
  color: #8e8eb6;
  font-family: Helvetica Neue, Roboto;
  font-size: 14px;
}
.eigth-block .eigth-block-container .eigth-block-second-column .send-form .input-div .danger-text,
.eigth-block-mobile .input-div .danger-text {
  font-family: Helvetica Neue, Roboto;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 140% */
  text-align: center;
  color: #d43e3a;
  margin-top: 6px;
}
.eigth-block
  .eigth-block-container
  .eigth-block-second-column
  .send-form
  .input-div
  .eigth-block-action-button
  .button1,
.eigth-block-mobile .input-div .eigth-block-action-button .button1 {
  width: 100%;
  background: color(secondary);
  box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
  border-radius: 41px;
  height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  border: none;
  text-align: center;
  color: #ffffff;
}
.eigth-block .footer-block {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.eigth-block .footer-block .footer-block-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.eigth-block .footer-block .footer-block-container .footer-title {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  /* or 100% */
  color: #553738;
}
.eigth-block .footer-block .footer-block-container .regular-text-footer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 25%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #553738;
}
.eigth-block .footer-block .footer-block-container .facebook-text {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 25%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  color: #553738;
}
.eigth-block .footer-block .footer-block-container .facebook-text img {
  width: 40px;
  height: 35px;
}

.eigth-block-mobile {
  background-image: url("../svg/mobile-form-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
.eigth-block-mobile .eigth-block-mobile-title {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-basis: 100%;
  font-family: Inter;
  font-style: normal;
  padding-top: 260px;
  margin: 20px;
  font-weight: 900;
  font-size: 60px;
  line-height: 50px;
  color: #614069;
}
.eigth-block-mobile .eigth-block-mobile-text {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-basis: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  margin: 20px;
  padding-top: 100px;
  color: #5e4863;
}
.eigth-block-mobile .eigth-block-mobile-form {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  padding-top: 15rem;
}
.eigth-block-mobile .eigth-block-mobile-form .mobile-send-form {
  background: #ffffff;
  box-shadow: 10px 20px 35px rgba(46, 48, 84, 0.25);
  border-radius: 30px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  height: fit-content;
}
.eigth-block-mobile
  .eigth-block-mobile-form
  .mobile-send-form
  .input-div-mobile
  .eigth-block-action-button-mobile
  .button2 {
  margin-bottom: 7%;
  width: 100%;
  background: color(secondary);
  box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
  border-radius: 41px;
  height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 120% */
  border: none;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .block-title {
    font-size: 24px;
  }
  .step-nr {
    position: absolute;
    bottom: 100px;
  }
  .step-text {
    margin-top: 1rem;
  }
  .instruction-block img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: block;
  }
}
