@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@font-face {
  font-family: Bosk;
  src: url("fonts/Bosk.ttf");
}

body, html {
  background: #FFFFFF;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 425px) and (min-width: 320px) {
  .second-block {
    display: none !important;
  }
  .second-block-mobile .second-block-button-mobile button {
    width: 70%;
    height: 50px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .second-block {
    display: none !important;
  }
  .second-block-mobile .second-block-button-mobile button {
    width: 80%;
    height: 70px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .second-block .second-block-button button {
    width: 45%;
    height: 30px;
  }
  .second-block-mobile {
    display: none !important;
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .second-block .second-block-button button {
    width: 45%;
    height: 40px;
  }
  .second-block-mobile {
    display: none !important;
  }
}

@media (max-width: 1840px) and (min-width: 1441px) {
  .second-block .second-block-button button {
    width: 45%;
    height: 50px;
  }
  .second-block-mobile {
    display: none !important;
  }
}

@media (max-width: 2560px) and (min-width: 1841px) {
  .second-block .second-block-button button {
    width: 45%;
    height: 70px;
  }
  .second-block-mobile {
    display: none !important;
  }
}

.second-block {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-block .second-block-image-column {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-image: url("../../svg/svg2.svg");
  background-repeat: no-repeat;
}

.second-block .second-block-text-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.second-block .second-block-text-column .second-block-text-title {
  width: 90%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5vw;
  line-height: 2.7vw;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #614069;
}

.second-block .second-block-text-column .second-block-regular-text {
  padding-top: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 1.6vw;
  color: #5E4863;
}

.second-block .second-block-text-column .second-block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15%;
  padding-bottom: 10%;
}

.second-block .second-block-text-column .second-block-button button {
  background: #FF6D40;
  -webkit-box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
          box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
  border-radius: 41px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8vw;
  font-size: 0.8vw;
  /* identical to box height, or 120% */
  border: none;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.second-block-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20%;
}

.second-block-mobile .second-block-text-title-mobile {
  width: 70%;
  margin-left: 6%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 6.5vw;
  line-height: 6.7vw;
  color: #614069;
}

.second-block-mobile .second-block-regular-text-mobile {
  width: 75%;
  padding-top: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3.1vw;
  line-height: 3.9vw;
  color: #5E4863;
  margin-left: 6%;
}

.second-block-mobile .second-block-mobile-image {
  padding-top: 4%;
}

.second-block-mobile .second-block-mobile-image img {
  width: 100%;
}

.second-block-mobile .second-block-button-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15%;
}

.second-block-mobile .second-block-button-mobile button {
  background: #FF6D40;
  -webkit-box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
          box-shadow: 5px 7px 20px rgba(100, 122, 157, 0.25);
  border-radius: 41px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  line-height: 3.8vw;
  font-size: 3.8vw;
  /* identical to box height, or 120% */
  border: none;
  text-align: center;
  color: #FFFFFF;
}
/*# sourceMappingURL=second-block.css.map */