$colors: (
    primary: #614069,
    secondary: #FF6D40,
    third: #553738,
    number-color: #EA5A63

);
@font-face {
    font-family: Bosk;
    src: url('fonts/Bosk.ttf');
}
  
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$mobile: 320px;
$mobile-large: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-large: 1440px;
$laptop-ultra-large:1840px;
$four-k: 2560px;


@mixin mobile {
    @media (max-width: #{$mobile-large}) and (min-width: #{$mobile}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet}) and (min-width: 426px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: #{$laptop}) and (min-width: 769px) {
        @content;
    }
}
@mixin laptop-large {
    @media (max-width: #{$laptop-large}) and (min-width: 1025px) {
        @content;
    }
}
@mixin laptop-ultra-large {
    @media (max-width: #{$laptop-ultra-large}) and (min-width: 1441px) {
        @content;
    }
}
@mixin four-k {
    @media (max-width: #{$four-k}) and (min-width: 1841px) {
        @content;
    }
}
@function color($color-name) {
    @return map-get($colors, $color-name)
}

body, html {
    background: #FFFFFF;
    height: 100%;
    margin: 0;
    padding: 0;
}
@include mobile() {
    .sixth-block {
        display: none !important;
    }
    .sixth-block-mobile {
     
    }
}
@include tablet() {
    .sixth-block {
        display: none !important;
    }
    .sixth-block-mobile {
     
    }
}
@include laptop() {
    .sixth-block {
        
    }
    .sixth-block-mobile {
        display: none !important;
    }
}
@include laptop-large() {
    .sixth-block {
       
    }
    .sixth-block-mobile {
        display: none !important;
    }
}

@include laptop-ultra-large() {
    .sixth-block {
       
    }
    .sixth-block-mobile {
        display: none !important;
    }
}

@include four-k {
    .sixth-block {
          
    }
    .sixth-block-mobile {
        display: none !important;
    }
}


.sixth-block {
    background-image: url("../../svg/svg4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .sixth-block-container {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 5%;
        .sixth-block-title {
            display: flex;
            flex-basis: 100%;
            width: 40%;
            font-family: Inter;
            font-style: normal;
            font-weight: 900;
            font-size: 2.5vw;
            line-height: 2.7vw;
            color: #614069;
        }
        .sixth-block-first-row-with-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .sixth-block-item {
                padding-top: 3%;
                display: flex;
                flex-direction: column;
                flex-basis: 30%;
                .sixth-block-item-image {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 40%;
                    }
                }
                .sixth-block-item-title {
                    padding-top: 4%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.2vw;
                    line-height: 1.2vw;
                    text-align: center;
                    color: #D43E3A;
                }
                .sixth-block-item-text {
                    padding-top: 4%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1vw;
                    line-height: 1vw;
                    text-align: center;
                    color: #5E4863;
                }
            }
        }
        .sixth-block-second-row-with-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 10%;
            .sixth-block-second-item {
                padding-top: 3%;
                display: flex;
                flex-direction: column;
                flex-basis: 30%;
                .sixth-block-second-item-image {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 40%;
                    }
                }
                .sixth-block-second-item-title {
                    padding-top: 4%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.2vw;
                    line-height: 1.2vw;
                    text-align: center;
                    color: #D43E3A;
                }
                .sixth-block-second-item-text {
                    padding-top: 4%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1vw;
                    line-height: 1vw;
                    text-align: center;
                    color: #5E4863;
                }
            }
        }
        
    }
}
.sixth-block-mobile {
    padding-top: 10%;
    background-image: url("../../svg/sixth-block-mobile-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .sixth-block-container-mobile {
        padding-top: 15%;
        width: 90%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        .sixth-block-title-mobile {
            width: 70%;
            font-family: Inter;
            font-style: normal;
            font-weight: 900;
            font-size: 6.5vw;
            line-height: 6.7vw;
            color: #614069;
            flex-direction: column;
        }
        .sixth-block-item-mobile {
            padding-top: 7%;
            padding-bottom: 21%;
            display: flex;
            flex-direction: column;
            .sixth-block-item-image-mobile {
                display: flex;
                justify-content: center;
                img {
                    width: 40%;
                }
            }
            .sixth-block-item-title-mobile {
                padding-top: 4%;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 4vw;
                line-height: 4vw;
                color: #5E4863;
                text-align: center;
                color: #D43E3A;
            }
            .sixth-block-item-text-mobile {
                padding-top: 4%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 3.5vw;
                line-height: 3.9vw;
                color: #5E4863;
                text-align: center;
            }
        }
    }
}